@model Identidad.Models.Torneo

@{
    ViewData["Title"] = "Detalle Torneo";
}

<h1>Detalle Torneo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.NombreTorneo)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.NombreTorneo)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.Club.NombreClub)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.CatTorFK)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.CatTor.catTorneo)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.CanJugFK)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.CanJug.cantJug)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.CatFK)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.Cat.categoria)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.SisTorFK)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.SisTor.sisTor)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.Desde)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.Desde)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.Hasta)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.ValorInscripcion)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.ValorInscripcion)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary font2"asp-action="Edit" asp-route-id="@Model.TorneoID">Editar</a><br />
    <a class="font2" asp-action="Index">Volver a la Lista</a>
</div>
