@model IEnumerable<Calle>

@{
    ViewData["Title"] = "Calles";
}

<h1>Calles</h1>

<p>
    <a class="font2" asp-action=Create>Agregar</a>
</p>
<table class="table table-stripped font2" style="margin-left:10px>
    <thead class="table-dark">
        <tr class= font2b>
            <th class="font2b">
                @Html.DisplayNameFor(model => model.nombre)
            </th>
      
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width:auto">
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
