@model PerfilList

@{
    ViewData["Title"] = "Perfiles";
}

    <div class="container-fluid" style="margin-left:3EM;display:inline-block">
        <table>
            <tr>
                <td>
                    <h1>Jugadores</h1>
                </td>
                <td>
                     <select asp-for="JuegoDeseado" class="form-control font2" style="width:15rem">
                        <option value="0" >Todos</option>
                        @foreach (Juego i in ViewBag.Juegos)
                        {
                            <option value="@i.JuegoID" >@i.nombreJuego</option>
                        }
                    </select>
                </td>
                <td>
                    <select asp-for="ClubDeseado" class="form-control font2" style="width:25rem">
                        <option value="0" >Todos</option>
                        @foreach (Club i in ViewBag.Clubes)
                        {
                            <option value="@i.ClubID" >@i.NombreClub</option>
                        }
                    </select>
                </td>
                <td>
                    <select asp-for="CiudadDeseada" class="form-control font2" style="width:25rem">
                        <option value="0" >Todos</option>
                        @foreach (Ciudad i in ViewBag.Ciudades)
                        {
                            <option value="@i.CiudadID" >@i.nombre</option>
                        }
                    </select>
                </td>
                <td>
                    <select asp-for="CategoriaDeseada" class="form-control font2" style="width:25rem">
                        <option value="0" >Todas</option>
                        @foreach (Categoria i in ViewBag.Ciudades)
                        {
                            <option value="@i.categoriaID" >@i.categoria</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        
        <a class="font2" asp-action="Create">Agregar</a>

        <table class="table table-striped font2">
            <thead class="table-dark">
                <tr class="font2b">
                     <th>
                        Foto
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Nombre
                    </th>
                    
                    
                    <th>
                        Club
                    </th>

                   
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody class="font2">



                @foreach (var item in Model.Perfiles)
                {
                    var photoPath = "~/img/fotosPerfiles/" + (item.fotoPath ?? "5q.png");

                    <tr>
                        <td>
                            <img id="perfilFoto" src="@photoPath" style="border:2px solid;max-height:100px" asp-append-version="true" />
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                       
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.club.NombreClub)
                        </td>
                        @*<td>
                            @if (item.foto != null)
                            {
                                <img id="perfilFoto" src="data:image;base64,@System.Convert.ToBase64String(item.foto)" style="border:2px solid;max-height:100px" />
                            }
                            else
                            {
                                <img id="perfilFoto" style="border:2px solid;max-height:100px" />
                            }
                        </td>*@
                        
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">Detalle</a> 
                            <!--<a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                            |
                            <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>-->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>