@model Identidad.Models.ZonaJugador

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>ZonaJugador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.ZonaID)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.ZonaID)
        </dd>
        <dt class = "col-sm-2 font2b">
            @Html.DisplayNameFor(model => model.PerfilID)
        </dt>
        <dd class = "col-sm-10 font2">
            @Html.DisplayFor(model => model.PerfilID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ZonaJugadorID">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
